@font-face {
  font-family: 'Minecraft';
  src: url('assets/fonts/MinecraftRegular-Bmg3.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Minecraft';
  src: url('assets/fonts/MinecraftItalic-R8Mo.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Minecraft';
  src: url('assets/fonts/MinecraftBold-nMK1.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Minecraft';
  src: url('assets/fonts/MinecraftBoldItalic-1y1e.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

:root {
  overscroll-behavior: none;
}

body {
  background-color: var(--background);
  margin: 0;
}

body.menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

body.menu h1 {
  text-align: center;
  font-size: 32pt;
  margin-bottom: 0;
}
body.menu ul {
  margin-top: 0;
}
body.menu a {
  font-size: 16pt;
}

* {
  font-family: 'Minecraft', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* @media (prefers-color-scheme: light) {
  :root {
    --background: #eee;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
  }
} */